* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #000;
}

body {
  background: #F8F8F8;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container-max {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 480px) {
  .container-max {
    padding: 0;
  }
}

.btn {
  background: linear-gradient(180deg, #FE8E5C 0%, #F54E47 100%);
  border: 3px solid #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 13px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  color: #FFFFFF;
}

.section-title {
  font-weight: 700;
  font-size: clamp(2.875rem, 2.466rem + 2.05vw, 4rem);
  line-height: 1.05;
  color: #000000;
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .section-title {
    align-items: center;
    text-align: center;
  }
}

.swiper-button-prev, .swiper-button-next {
  background: #F9C437;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  transition: all 0.3s;
}
.swiper-button-prev::after, .swiper-button-next::after {
  content: "";
}
.swiper-button-prev path, .swiper-button-next path {
  fill: #fff;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 1;
  border: 1px solid #F9C437;
  background: none;
}
.swiper-button-prev.swiper-button-disabled path, .swiper-button-next.swiper-button-disabled path {
  fill: #000;
}

nav {
  overflow: hidden;
  padding: 0 clamp(1.25rem, 0.139rem + 5.56vw, 5rem);
}

.navbar {
  display: flex;
  max-width: 100%;
  width: 100%;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: clamp(1.875rem, 1.319rem + 2.78vw, 3.75rem) 0;
}
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
}

.logo a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
}
.logo a span {
  color: #F9C437;
}

.menu {
  display: flex;
  position: relative;
  gap: clamp(1.25rem, 0.694rem + 2.78vw, 3.125rem);
  align-items: center;
}
.menu__item {
  position: relative;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu__item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #000;
  transition: all 0.3s;
}
.menu__item-link:hover {
  color: #000;
}

.header__btn {
  max-width: 300px;
  width: 100%;
  border-radius: 90px;
}

.burger {
  display: none;
  cursor: pointer;
}

.hero {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
  overflow: hidden;
  position: relative;
}
.hero__content-title {
  font-weight: 700;
  font-size: clamp(1.625rem, 1.4rem + 3.64vw, 3.625rem);
  line-height: 1.05;
  color: #000;
}
.hero__content-title span {
  font-weight: 800;
  color: #F73D31;
}
@media (max-width: 480px) {
  .hero__content-title {
    text-align: center;
  }
}
.hero__content-pretitle {
  font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
  line-height: 1.1;
  color: #9C9C9C;
  padding-top: clamp(1.25rem, 0.909rem + 1.7vw, 2.188rem);
  padding-bottom: clamp(2.188rem, 1.847rem + 1.7vw, 3.125rem);
}
@media (max-width: 480px) {
  .hero__content-pretitle {
    text-align: center;
  }
}
.hero__content-list {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero__content-item {
  font-size: clamp(1rem, 0.864rem + 0.68vw, 1.375rem);
  line-height: 1.1;
  padding-left: 22px;
  position: relative;
}
.hero__content-item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url(../img/hero-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__big-box {
  top: 10px;
  position: relative;
  max-width: clamp(17.5rem, 10.227rem + 36.36vw, 45.5rem);
}
.hero__big-box::after {
  content: "";
  position: absolute;
  top: 140px;
  right: -440px;
  width: clamp(7.5rem, 4.773rem + 13.64vw, 15rem);
  height: clamp(7.5rem, 4.773rem + 13.64vw, 15rem);
  background-image: url(../img/sign.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .hero__big-box::after {
    top: 60px;
    right: -40px;
  }
}
@media (max-width: 480px) {
  .hero__big-box::after {
    top: auto;
    right: 0px;
    bottom: 0px;
  }
}
@media (max-width: 480px) {
  .hero__big-box {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
  }
}
.hero__big-img {
  position: absolute;
  top: -450px;
  right: -570px;
  max-width: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .hero__big-img {
    top: -300px;
    right: -300px;
  }
}
@media (max-width: 480px) {
  .hero__big-img {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
  }
}
.hero__inner {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  position: relative;
}
.hero__inner-img {
  max-width: 310px;
  width: 100%;
  position: absolute;
  left: 43%;
  z-index: 0;
}
@media (max-width: 768px) {
  .hero__inner-img {
    left: 70%;
  }
}
@media (max-width: 480px) {
  .hero__inner-img {
    position: relative;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.contact-form {
  margin-top: 40px;
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  padding: clamp(0.938rem, 0.597rem + 1.7vw, 1.875rem);
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}
.contact-form__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
  margin: 15px 0;
  color: #000000;
}
@media (max-width: 480px) {
  .contact-form__title {
    font-size: 18px;
  }
}
.contact-form__pretitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  background: #9C9C9C;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  padding: 6px 10px;
  border-radius: 20px;
}
.contact-form__podtitle {
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #9C9C9C;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .contact-form {
    margin-top: 20px;
  }
}

textarea {
  min-height: 150px;
}

input[type=text], input[type=tel], textarea {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  outline: none;
  max-width: 100%;
  padding: 18px 12px 18px 22px;
  margin-bottom: 10px;
  background: #FEFEFE;
  border: 1px solid #D5D5D5;
  border-radius: 20px;
  transition: all 0.4s;
}
input[type=text]::-moz-placeholder, input[type=tel]::-moz-placeholder, textarea::-moz-placeholder {
  color: #9E9E9E;
}
input[type=text]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #9E9E9E;
}
input[type=text]::placeholder, input[type=tel]::placeholder, textarea::placeholder {
  color: #9E9E9E;
}

input[type=text]:focus, textarea:focus {
  transition: all 0.4s;
}

input[type=button] {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
  padding: 20px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #F73D31;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: #fff;
}

input[type=button]:hover {
  color: #FFF;
  transition: all 0.2s;
}

input[type=button]:active {
  transition: all 0.4s;
  top: 3px;
  box-shadow: none;
}

input[type=button]:focus {
  position: relative;
  transition: all 0.2s;
  outline: none;
}

.cause {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
}
.cause .section-title {
  align-items: center;
  text-align: center;
}
.cause__wrapper {
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 992px) {
  .cause__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .cause__wrapper {
    grid-template-columns: 1fr;
  }
}
.cause__wrapper .grid__item {
  align-items: center;
}
.cause__wrapper .grid__item p {
  text-align: center;
}

.grid {
  display: grid;
  gap: 20px 20px;
  grid-auto-columns: 1fr;
}
.grid__item {
  padding: 20px;
  padding-bottom: 50px;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.grid__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90px;
  height: 5px;
  background: #F9C437;
  z-index: 2;
}
.grid__item-img img {
  max-width: 100%;
  width: 100%;
}
.grid__item-title {
  font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
  line-height: 1.1;
  color: #000000;
  padding: 25px 0 20px;
}
.grid__item-text {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  line-height: 1.4;
  text-align: left;
  color: #5C5C5C;
}

.order {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
  margin-bottom: 0;
}
.order__wrapper {
  padding: 50px 0;
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, -2.5rem + 10vw, 5rem);
}
@media (max-width: 900px) {
  .order__wrapper {
    flex-direction: column-reverse;
  }
}
.order__img {
  max-width: 400px;
  width: 100%;
  padding: 0 20px;
}
.order__content {
  max-width: 680px;
  width: 100%;
}
.order__text {
  font-size: clamp(1.188rem, 1.119rem + 0.34vw, 1.375rem);
  line-height: 1.45;
  color: #9C9C9C;
  font-weight: 500;
  padding-top: 10px;
}
.order__text span {
  font-weight: 600;
  color: #000;
}
@media (max-width: 900px) {
  .order__text {
    text-align: center;
  }
}
.order__btn {
  font-size: clamp(1rem, 0.833rem + 0.56vw, 1.25rem);
  line-height: 1.1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px;
  padding-left: 40px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: #F73D31;
  border-radius: 90px;
  transition: all 0.3s;
}
.order__btn:hover {
  box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.3);
}
.order__btn span {
  font-weight: 800;
}
@media (max-width: 900px) {
  .order__btn {
    margin-top: 40px;
    padding: 25px;
    justify-content: center;
    text-align: center;
  }
  .order__btn svg {
    display: none;
  }
}

.factor {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
  margin-top: -20px;
}
.factor__wrap {
  background: #4D185F;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}
@media (max-width: 480px) {
  .factor__wrap {
    padding: 0 40px;
  }
}
.factor__wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: -50px;
  flex-wrap: wrap;
}
.factor__item {
  border-radius: 80px;
  padding: 12px 12px 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 42px rgba(0, 0, 0, 0.05);
  border-radius: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 240px;
  width: 100%;
}
.factor__item-img {
  max-width: 100%;
  width: 100%;
}
.factor__item-stars {
  max-width: 100%;
  width: 100%;
  margin-top: -30px;
}
.factor__item-text {
  text-align: center;
}
.factor__title {
  font-weight: 800;
  font-size: clamp(2rem, 1.682rem + 1.59vw, 2.875rem);
  line-height: 1.1;
  text-align: center;
  color: #FFFFFF;
  margin: 20px 0;
}

.know {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
}
.know__wrapper {
  position: relative;
  top: 0px;
  left: 0px;
}
.know__wrapper .section-title {
  margin: 0px;
  text-align: center;
}
.know__img {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}
.know__img img {
  max-width: 100%;
  width: 100%;
}
.know__menu {
  position: absolute;
  top: 0;
  max-width: 100%;
  width: 100%;
}
.know__menu-item {
  background: rgba(254, 254, 254, 0.5);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  max-width: 420px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.know__menu-item.item-1 {
  top: 100px;
}
.know__menu-item.item-2 {
  top: 200px;
}
.know__menu-item.item-3 {
  top: 300px;
}
.know__menu-item.item-4 {
  top: 100px;
  right: 0;
}
.know__menu-item.item-5 {
  top: 200px;
  right: 0;
}
.know__menu-icon {
  padding: 8px;
  border-radius: 20px;
  background: linear-gradient(180deg, #FE8E5C 0%, #F54E47 100%);
  border: 3px solid #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.know__menu-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.1;
  color: #000000;
}
.know__btn {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
}
.know__btn a {
  display: block;
  max-width: 100%;
  width: 100%;
}

.poten {
  background: #F9C437;
}
.poten__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  padding: 20px 80px;
  padding-bottom: 0;
}
@media (max-width: 992px) {
  .poten__wrapper {
    flex-direction: column-reverse;
    padding: 15px 20px;
    padding-bottom: 0;
  }
}
.poten__img {
  margin-top: -100px;
  position: relative;
  bottom: 0;
  max-width: 100%;
  width: 100%;
}
@media (max-width: 992px) {
  .poten__img {
    margin: 0;
  }
}
.poten__img img {
  max-width: 100%;
  width: 100%;
}
.poten__content {
  padding: 20px 0;
}
.poten__text {
  font-weight: 300;
  font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
  line-height: 1.2;
  color: #000000;
}
@media (max-width: 480px) {
  .poten__text {
    text-align: center;
  }
}

.narod {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
  position: relative;
  overflow: hidden;
}
.narod::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 190px;
}
@media (max-width: 480px) {
  .narod::after {
    background: #F9C437;
  }
}
@media (max-width: 480px) {
  .narod {
    margin-top: 0;
    padding-top: 20px;
  }
}
.narod__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: #fff;
  position: relative;
  z-index: 3;
  padding: clamp(0.938rem, 0.369rem + 2.84vw, 2.5rem);
  padding-left: 60px;
}
@media (max-width: 992px) {
  .narod__wrapper {
    flex-direction: column;
    padding: clamp(0.938rem, 0.369rem + 2.84vw, 2.5rem);
  }
}
.narod__content {
  max-width: 550px;
  width: 100%;
}
.narod__text {
  font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
  line-height: 1.5;
  color: #5C5C5C;
}
@media (max-width: 480px) {
  .narod__text {
    text-align: center;
  }
}
.narod__img {
  max-width: 440px;
  width: 100%;
}
.narod__img img {
  max-width: 100%;
  width: 100%;
}

.method {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
}
.method__wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .method__wrapper {
    flex-direction: column;
  }
}
.method__img {
  max-width: 490px;
  width: 100%;
}
.method__img img {
  max-width: 100%;
  width: 100%;
}
.method__content {
  max-width: 670px;
  width: 100%;
}
.method__text {
  font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
  line-height: 1.4;
  color: #5C5C5C;
}

.natural {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
}
.natural__wrapper {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "item-1 item-2 item-big" "item-3 item-4 item-big";
}
.natural__wrapper .item-1 {
  grid-area: item-1;
}
.natural__wrapper .item-2 {
  grid-area: item-2;
}
.natural__wrapper .item-3 {
  grid-area: item-3;
}
.natural__wrapper .item-4 {
  grid-area: item-4;
}
.natural__wrapper .item-big {
  grid-area: item-big;
}
@media (max-width: 992px) {
  .natural__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "item-1 item-2" "item-3 item-big" "item-4 item-big";
  }
}
@media (max-width: 660px) {
  .natural__wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "item-1" "item-2" "item-3" "item-4" "item-big";
  }
}
.natural__wrapper .grid__item {
  min-height: 370px;
}
@media (max-width: 660px) {
  .natural__wrapper .grid__item {
    min-height: auto;
  }
}
.natural__wrapper .item-big {
  width: 100%;
  background: #F9C437;
}
.natural__wrapper .item-big .grid__item-big-img {
  height: 350px;
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
}
@media (max-width: 660px) {
  .natural__wrapper .item-big .grid__item-big-img {
    display: none;
  }
}
.natural__wrapper .item-big img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.natural__wrapper .item-big * {
  color: #fff;
}
.natural__wrapper .item-big::after {
  background: #fff;
}

.practic {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
}
.practic__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: #fff;
}
@media (max-width: 992px) {
  .practic__wrapper {
    flex-direction: column-reverse;
  }
}
.practic__img {
  max-width: 480px;
  width: 100%;
  background: #F9C437;
}
.practic__img img {
  padding-top: 20px;
  max-width: 100%;
  width: 100%;
}
.practic__content {
  padding: clamp(0.938rem, 0.256rem + 3.41vw, 2.813rem);
  max-width: 680px;
  width: 100%;
}
@media (max-width: 480px) {
  .practic__content p {
    text-align: center;
  }
}
.practic__text {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  line-height: 1.3;
}
.practic__name {
  font-size: 26px;
  line-height: 1.1;
  color: #000000;
  margin: 20px 0 25px;
}
.practic__prof {
  font-size: 18px;
  line-height: 1.1;
  color: #5C5C5C;
}

.how {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
}
.how .section-title {
  text-align: center;
  align-items: center;
}
.how__wrapper {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 920px) {
  .how__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .how__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.review {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
}
.review__wrapper {
  display: flex;
  gap: 20px;
}
@media (max-width: 992px) {
  .review__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.review__swiper {
  max-width: 100%;
  width: 100%;
}
.review__left {
  max-width: 320px;
  min-width: 300px;
  width: 100%;
  background: #F8F8F8;
  position: relative;
  z-index: 2;
}
.review__paginations {
  display: flex;
  gap: 35px;
}
.review__paginations div {
  position: relative;
}
.review__item-text {
  font-weight: 500;
  font-size: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);
  line-height: 1.3;
  color: #000000;
  padding: 40px 0;
}
.review__contact {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (max-width: 480px) {
  .review__contact {
    flex-direction: column;
    text-align: center;
  }
}
.review__contact-ava {
  border-radius: 999px;
}
.review__contact-name {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.05;
  color: #000000;
}
.review__contact-old {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.05;
  color: #5C5C5C;
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */