* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #000;
}

body {
  background: #F8F8F8;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container-max {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 480px) {
  .container-max {
    padding: 0;
  }
}

.btn {
  background: linear-gradient(180deg, #FE8E5C 0%, #F54E47 100%);
  border: 3px solid #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 13px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.3s;
}
.btn:hover {
  transform: scale(1.03);
}

.section-title {
  font-weight: 700;
  font-size: clamp(2.875rem, 2.466rem + 2.05vw, 4rem);
  line-height: 1.05;
  color: #000000;
  position: relative;
  margin-bottom: 20px;
}
.section-title span {
  color: #F9C437;
}
@media (max-width: 480px) {
  .section-title {
    align-items: center;
    text-align: center;
  }
}

.swiper-button-prev, .swiper-button-next {
  background: #F9C437;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  transition: all 0.3s;
}
.swiper-button-prev::after, .swiper-button-next::after {
  content: "";
}
.swiper-button-prev path, .swiper-button-next path {
  fill: #fff;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 1;
  border: 1px solid #F9C437;
  background: none;
}
.swiper-button-prev.swiper-button-disabled path, .swiper-button-next.swiper-button-disabled path {
  fill: #000;
}

nav {
  overflow: hidden;
  padding: 0 clamp(1.25rem, 0.139rem + 5.56vw, 5rem);
}

.navbar {
  display: flex;
  max-width: 100%;
  width: 100%;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: clamp(1.875rem, 1.319rem + 2.78vw, 3.75rem) 0;
}
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
}

.logo a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
}
.logo a span {
  color: #F9C437;
}

.menu {
  display: flex;
  position: relative;
  gap: clamp(1.25rem, 0.694rem + 2.78vw, 3.125rem);
  align-items: center;
}
.menu__item {
  position: relative;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu__item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #000;
  transition: all 0.3s;
}
.menu__item-link:hover {
  color: #000;
}

.header__btn {
  max-width: 300px;
  width: 100%;
  border-radius: 90px;
}

.burger {
  display: none;
  cursor: pointer;
}

.hero {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
  margin-top: 0;
  padding-top: 40px;
  overflow: hidden;
  position: relative;
}
.hero__content-title {
  font-weight: 700;
  font-size: clamp(1.625rem, 1.4rem + 3.64vw, 3.625rem);
  line-height: 1.05;
  color: #000;
}
.hero__content-title span {
  font-weight: 800;
  color: #F73D31;
}
@media (max-width: 480px) {
  .hero__content-title {
    text-align: center;
  }
}
.hero__content-pretitle {
  font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
  line-height: 1.1;
  color: #9C9C9C;
  padding-top: clamp(1.25rem, 0.909rem + 1.7vw, 2.188rem);
  padding-bottom: clamp(2.188rem, 1.847rem + 1.7vw, 3.125rem);
}
@media (max-width: 480px) {
  .hero__content-pretitle {
    text-align: center;
  }
}
.hero__content-list {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero__content-item {
  font-size: clamp(1rem, 0.864rem + 0.68vw, 1.375rem);
  line-height: 1.1;
  padding-left: 22px;
  position: relative;
}
.hero__content-item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url(../img/hero-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__big-box {
  top: 10px;
  position: relative;
  max-width: clamp(17.5rem, 10.227rem + 36.36vw, 45.5rem);
}
.hero__big-box::after {
  content: "";
  position: absolute;
  top: 140px;
  right: -440px;
  width: clamp(7.5rem, 4.773rem + 13.64vw, 15rem);
  height: clamp(7.5rem, 4.773rem + 13.64vw, 15rem);
  background-image: url(../img/sign.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .hero__big-box::after {
    top: 60px;
    right: -40px;
  }
}
@media (max-width: 480px) {
  .hero__big-box::after {
    top: auto;
    right: 0px;
    bottom: 0px;
  }
}
@media (max-width: 480px) {
  .hero__big-box {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
  }
}
.hero__big-img {
  position: absolute;
  top: -450px;
  right: -570px;
  max-width: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .hero__big-img {
    top: -300px;
    right: -300px;
  }
}
@media (max-width: 480px) {
  .hero__big-img {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
  }
}
.hero__inner {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  position: relative;
}
.hero__inner-img {
  max-width: 310px;
  width: 100%;
  position: absolute;
  left: 43%;
  z-index: 0;
}
@media (max-width: 768px) {
  .hero__inner-img {
    left: 70%;
  }
}
@media (max-width: 480px) {
  .hero__inner-img {
    position: relative;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.contact-form {
  margin-top: 40px;
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  padding: clamp(0.938rem, 0.597rem + 1.7vw, 1.875rem);
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}
.contact-form__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
  margin: 15px 0;
  color: #000000;
}
@media (max-width: 480px) {
  .contact-form__title {
    font-size: 18px;
  }
}
.contact-form__pretitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  background: #9C9C9C;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  padding: 6px 10px;
  border-radius: 20px;
}
.contact-form__podtitle {
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #9C9C9C;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .contact-form {
    margin-top: 20px;
  }
}

textarea {
  min-height: 150px;
}

input[type=text], input[type=tel], textarea {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  outline: none;
  max-width: 100%;
  padding: 18px 12px 18px 22px;
  margin-bottom: 10px;
  background: #FEFEFE;
  border: 1px solid #D5D5D5;
  border-radius: 20px;
  transition: all 0.4s;
}
input[type=text]::-moz-placeholder, input[type=tel]::-moz-placeholder, textarea::-moz-placeholder {
  color: #9E9E9E;
}
input[type=text]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #9E9E9E;
}
input[type=text]::placeholder, input[type=tel]::placeholder, textarea::placeholder {
  color: #9E9E9E;
}

input[type=text]:focus, textarea:focus {
  transition: all 0.4s;
}

input[type=button] {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
  padding: 20px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #F73D31;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: #fff;
}

input[type=button]:hover {
  color: #FFF;
  transition: all 0.2s;
}

input[type=button]:active {
  transition: all 0.4s;
  top: 3px;
  box-shadow: none;
}

input[type=button]:focus {
  position: relative;
  transition: all 0.2s;
  outline: none;
}

.cause {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
}
.cause .section-title {
  align-items: center;
  text-align: center;
}
.cause__wrapper {
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 992px) {
  .cause__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .cause__wrapper {
    grid-template-columns: 1fr;
  }
}
.cause__wrapper .grid__item {
  align-items: center;
}
.cause__wrapper .grid__item p {
  text-align: center;
}

.order {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
  margin-bottom: 0;
}
.order__wrapper {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, -2.5rem + 10vw, 5rem);
}
@media (max-width: 900px) {
  .order__wrapper {
    flex-direction: column-reverse;
  }
}
.order__img {
  max-width: 400px;
  width: 100%;
  padding: 0 20px;
  position: relative;
  z-index: -1;
}
.order__content {
  max-width: 680px;
  width: 100%;
}
.order__text {
  font-size: clamp(1.188rem, 1.119rem + 0.34vw, 1.375rem);
  line-height: 1.45;
  color: #9C9C9C;
  font-weight: 500;
  padding-top: 10px;
}
.order__text span {
  font-weight: 600;
  color: #000;
}
@media (max-width: 900px) {
  .order__text {
    text-align: center;
  }
}
.order__btn {
  font-size: clamp(1rem, 0.833rem + 0.56vw, 1.25rem);
  line-height: 1.1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px;
  padding-left: 40px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: #F73D31;
  border-radius: 90px;
  transition: all 0.3s;
}
.order__btn:hover {
  box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.3);
}
.order__btn span {
  font-weight: 800;
}
@media (max-width: 900px) {
  .order__btn {
    margin-top: 40px;
    padding: 25px;
    justify-content: center;
    text-align: center;
  }
  .order__btn svg {
    display: none;
  }
}

.factor {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
  margin-top: -20px;
}
.factor__wrap {
  background: #4D185F;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}
@media (max-width: 480px) {
  .factor__wrap {
    padding: 0 40px;
  }
}
.factor__wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: -50px;
  flex-wrap: wrap;
}
.factor__item {
  border-radius: 80px;
  padding: 12px 12px 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 42px rgba(0, 0, 0, 0.05);
  border-radius: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 240px;
  width: 100%;
}
.factor__item-img {
  max-width: 100%;
  width: 100%;
}
.factor__item-stars {
  max-width: 100%;
  width: 100%;
  margin-top: -30px;
}
.factor__item-text {
  text-align: center;
}
.factor__title {
  font-weight: 800;
  font-size: clamp(2rem, 1.682rem + 1.59vw, 2.875rem);
  line-height: 1.1;
  text-align: center;
  color: #FFFFFF;
  margin: 20px 0;
}

.know {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
  overflow: hidden;
}
.know__wrapper {
  position: relative;
  top: 0px;
  left: 0px;
}
.know__wrapper .section-title {
  margin: 0px;
  text-align: center;
}
.know__img {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}
.know__img img {
  max-width: 100%;
  width: 100%;
}
.know__menu {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .know__menu {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }
}
.know__menu-item {
  background: rgba(254, 254, 254, 0.5);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  max-width: 420px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.know__menu-item.item-1 {
  top: 200px;
}
.know__menu-item.item-2 {
  top: 400px;
}
.know__menu-item.item-3 {
  top: 600px;
  left: 30%;
}
.know__menu-item.item-4 {
  top: 200px;
  left: 60%;
}
.know__menu-item.item-5 {
  top: 400px;
  left: 60%;
}
@media (max-width: 768px) {
  .know__menu-item {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto 20px;
  }
}
.know__menu-icon {
  padding: 8px;
  border-radius: 20px;
  background: linear-gradient(180deg, #FE8E5C 0%, #F54E47 100%);
  border: 3px solid #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.know__menu-text {
  font-weight: 500;
  font-size: clamp(1.125rem, 1.034rem + 0.45vw, 1.375rem);
  line-height: 1.1;
  color: #000000;
}
.know__btn {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
}
.know__btn a {
  display: block;
  max-width: 100%;
  width: 100%;
}

.zalog {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
}
.zalog__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #F9C437;
  border-radius: 90px;
  padding-right: 0;
}
@media (max-width: 992px) {
  .zalog__wrapper {
    flex-direction: column;
  }
}
.zalog__content {
  padding: clamp(1.125rem, 0.125rem + 4vw, 3.125rem);
  padding-right: 0;
  max-width: 100%;
  width: 100%;
}
@media (max-width: 992px) {
  .zalog__content {
    padding: clamp(1.125rem, 0.125rem + 4vw, 3.125rem);
    padding-top: 40px;
  }
}
@media (max-width: 480px) {
  .zalog__content {
    text-align: center;
  }
}
.zalog__title {
  font-weight: 800;
  font-size: clamp(2.25rem, 2.023rem + 1.14vw, 2.875rem);
  line-height: 1.1;
  margin-bottom: 20px;
}
.zalog__text {
  font-weight: 500;
  font-size: clamp(1.063rem, 0.994rem + 0.34vw, 1.25rem);
  line-height: 1.1;
}
.zalog__img {
  max-width: 500px;
  width: 100%;
}

.grid {
  display: grid;
  gap: 20px 20px;
  grid-auto-columns: 1fr;
}
.grid__item {
  background: rgba(254, 254, 254, 0.7);
  border: 1px solid #ECECEC;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.grid__item-img img {
  max-width: 100%;
  width: 100%;
}
.grid__item-title {
  font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
  line-height: 1.1;
  color: #000000;
}
.grid__item-text {
  font-size: clamp(0.938rem, 0.844rem + 0.38vw, 1.125rem);
  line-height: 1.05;
  text-align: left;
  color: #5C5C5C;
}

.grid .section-title {
  text-align: center;
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}
.grid .section-title span {
  color: #F9C437;
}
.grid__item-img {
  display: none;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  border: none;
  background: none;
}
.grid__item-img img {
  max-width: 100%;
  width: 100%;
}
@media (max-width: 1100px) {
  .grid__item-img {
    display: block;
  }
}
.grid__swiper {
  display: none;
  margin: 40px 0;
}
@media (max-width: 1100px) {
  .grid__swiper {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}
.grid__swiper .story__navigations {
  margin-top: 70px;
}
.grid__wrapper {
  margin: 50px 0;
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas: "item-1 item-img item-4" "item-2 item-img item-5" "item-3 item-img item-6";
}
.grid__wrapper .item-1 {
  grid-area: item-1;
}
.grid__wrapper .item-2 {
  grid-area: item-2;
}
.grid__wrapper .item-3 {
  grid-area: item-3;
}
.grid__wrapper .item-4 {
  grid-area: item-4;
}
.grid__wrapper .item-5 {
  grid-area: item-5;
}
.grid__wrapper .item-6 {
  grid-area: item-6;
}
.grid__wrapper .item-img {
  grid-area: item-img;
}
.grid__wrapper .item-img img {
  max-width: 100%;
  width: 100%;
}
@media (max-width: 1100px) {
  .grid__wrapper .item-img {
    display: none;
  }
}
@media (max-width: 1100px) {
  .grid__wrapper {
    display: none;
  }
}
.grid__item {
  max-width: 500px !important;
  width: 100% !important;
}
.grid__item-top {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}
.grid__item-top svg {
  max-width: 80px;
  width: 100%;
}
.grid__item-title {
  font-weight: 700;
  font-size: clamp(1.188rem, 1.074rem + 0.57vw, 1.7rem);
  line-height: 1.1;
}
.grid__item-text {
  font-size: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
  line-height: 1.2;
  color: #828282;
}
@media (max-width: 1100px) {
  .grid__item-text {
    text-align: center;
  }
}
.grid .grid__item {
  flex-shrink: unset;
}
@media (max-width: 1100px) {
  .grid .grid__item {
    flex-shrink: 0;
  }
}
.grid .grid__swiper-prev, .grid .grid__swiper-next {
  display: none !important;
}
@media (max-width: 1100px) {
  .grid .grid__swiper-prev, .grid .grid__swiper-next {
    display: flex !important;
  }
}
.grid .swiper-pagination {
  display: flex !important;
}

.story__navigations {
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.story__navigations * {
  position: relative;
  left: 0;
  top: 0;
}

.comp__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 0;
}
@media (max-width: 992px) {
  .comp__wrapper {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .comp__content {
    text-align: center;
  }
}
.comp__title {
  font-style: italic;
  font-weight: 600;
  font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
  line-height: 1.1;
}
.comp__text {
  font-style: italic;
  font-weight: 500;
  font-size: clamp(1.125rem, 1.034rem + 0.45vw, 1.375rem);
  line-height: 1.1;
  color: #9C9C9C;
  margin: 20px 0;
}
.comp__box {
  display: flex;
  gap: 8px;
  align-items: center;
}
@media (max-width: 600px) {
  .comp__box {
    flex-direction: column;
  }
}
.comp__imzo {
  max-width: 280px;
  width: 100%;
}
.comp__name {
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.1;
  color: #000000;
}
.comp__name span {
  font-size: 20px;
  color: #9C9C9C;
}
.comp__img {
  max-width: 320px;
  width: 100%;
}

.review {
  margin: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
}
.review .section-title {
  color: #000;
}
.review .section-title span {
  color: #fff;
}
.review__wrapper {
  display: flex;
  gap: 20px;
  padding: 0 clamp(0.75rem, -0.795rem + 7.73vw, 5rem);
  padding-top: 30px;
  background: #F9C437;
  border-radius: 90px;
}
.review__wrapper .swiper {
  max-width: 520px;
  width: 100%;
}
@media (max-width: 780px) {
  .review__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.review__left {
  padding: 20px;
  max-width: 400px;
  width: 100%;
}
@media (max-width: 780px) {
  .review__left {
    max-width: 100%;
    text-align: center;
  }
}
.review__navigations {
  max-width: 200px;
  margin-right: auto;
  margin-left: 0;
  margin-top: 40px;
}
@media (max-width: 780px) {
  .review__navigations {
    margin: 40px auto 0;
  }
}
.review__navigations .swiper-button-prev, .review__navigations .swiper-button-next {
  background: #fff;
  width: 90px;
  height: 90px;
}
.review__navigations .swiper-button-prev::after, .review__navigations .swiper-button-next::after {
  content: "";
}
.review__navigations .swiper-button-prev path, .review__navigations .swiper-button-next path {
  fill: #000;
}
.review__navigations .swiper-button-prev.swiper-button-disabled, .review__navigations .swiper-button-next.swiper-button-disabled {
  opacity: 1;
  border: 1px solid #fff;
  background: none;
}
.review__navigations .swiper-button-prev.swiper-button-disabled path, .review__navigations .swiper-button-next.swiper-button-disabled path {
  fill: #fff;
}
.review__slide {
  padding: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
  background: #fff;
  border-radius: 50px;
}
.review__img {
  max-width: 100%;
  width: 100%;
  border-radius: 60px;
}
.review__title {
  font-weight: 800;
  font-size: clamp(1.313rem, 1.244rem + 0.34vw, 1.5rem);
  margin: 15px 0;
}
.review__text {
  font-weight: 600;
  font-size: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);
  color: #9C9C9C;
}/*# sourceMappingURL=style.css.map */